{% extends "base.html" %}

{% block content %}
  {{ super() }}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <div id="gitalk-container"></div>

  <script>
const gitalk = new Gitalk({
  clientID: '3346ed85841478c0b12b',
  clientSecret: '807efc6426228240b63e7c32eb320a9afe23c979',
  repo: 'Blog-comment',      // The repository of store comments,
  owner: 'hylwxqwq',
  admin: ['hylwxqwq'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
  </script>
{% endblock %}